Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/AdministradorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdministradorWS" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:32309/FarmaSoftWS/AdministradorWS?xsd=1" namespace="http://services.FarmaSoft.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarAdministrador">
    <part name="parameters" element="tns:insertarAdministrador" />
  </message>
  <message name="insertarAdministradorResponse">
    <part name="parameters" element="tns:insertarAdministradorResponse" />
  </message>
  <message name="darDeAltaAdministradores">
    <part name="parameters" element="tns:darDeAltaAdministradores" />
  </message>
  <message name="darDeAltaAdministradoresResponse">
    <part name="parameters" element="tns:darDeAltaAdministradoresResponse" />
  </message>
  <message name="actualizarAdministrador">
    <part name="parameters" element="tns:actualizarAdministrador" />
  </message>
  <message name="actualizarAdministradorResponse">
    <part name="parameters" element="tns:actualizarAdministradorResponse" />
  </message>
  <message name="obtenerAdministradorPorDni">
    <part name="parameters" element="tns:obtenerAdministradorPorDni" />
  </message>
  <message name="obtenerAdministradorPorDniResponse">
    <part name="parameters" element="tns:obtenerAdministradorPorDniResponse" />
  </message>
  <message name="eliminarAdministrador">
    <part name="parameters" element="tns:eliminarAdministrador" />
  </message>
  <message name="eliminarAdministradorResponse">
    <part name="parameters" element="tns:eliminarAdministradorResponse" />
  </message>
  <message name="darDeBajaAdministradores">
    <part name="parameters" element="tns:darDeBajaAdministradores" />
  </message>
  <message name="darDeBajaAdministradoresResponse">
    <part name="parameters" element="tns:darDeBajaAdministradoresResponse" />
  </message>
  <portType name="AdministradorWS">
    <operation name="insertarAdministrador">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/insertarAdministradorRequest" message="tns:insertarAdministrador" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/insertarAdministradorResponse" message="tns:insertarAdministradorResponse" />
    </operation>
    <operation name="darDeAltaAdministradores">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/darDeAltaAdministradoresRequest" message="tns:darDeAltaAdministradores" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/darDeAltaAdministradoresResponse" message="tns:darDeAltaAdministradoresResponse" />
    </operation>
    <operation name="actualizarAdministrador">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/actualizarAdministradorRequest" message="tns:actualizarAdministrador" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/actualizarAdministradorResponse" message="tns:actualizarAdministradorResponse" />
    </operation>
    <operation name="obtenerAdministradorPorDni">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/obtenerAdministradorPorDniRequest" message="tns:obtenerAdministradorPorDni" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/obtenerAdministradorPorDniResponse" message="tns:obtenerAdministradorPorDniResponse" />
    </operation>
    <operation name="eliminarAdministrador">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/eliminarAdministradorRequest" message="tns:eliminarAdministrador" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/eliminarAdministradorResponse" message="tns:eliminarAdministradorResponse" />
    </operation>
    <operation name="darDeBajaAdministradores">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/darDeBajaAdministradoresRequest" message="tns:darDeBajaAdministradores" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/AdministradorWS/darDeBajaAdministradoresResponse" message="tns:darDeBajaAdministradoresResponse" />
    </operation>
  </portType>
  <binding name="AdministradorWSPortBinding" type="tns:AdministradorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="darDeAltaAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerAdministradorPorDni">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="darDeBajaAdministradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdministradorWS">
    <port name="AdministradorWSPort" binding="tns:AdministradorWSPortBinding">
      <soap:address location="http://localhost:32309/FarmaSoftWS/AdministradorWS" />
    </port>
  </service>
</definitions>