Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/EmpleadoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEmpleado" type="tns:actualizarEmpleado" />
  <xs:element name="actualizarEmpleadoResponse" type="tns:actualizarEmpleadoResponse" />
  <xs:element name="darDeAltaEmpleados" type="tns:darDeAltaEmpleados" />
  <xs:element name="darDeAltaEmpleadosResponse" type="tns:darDeAltaEmpleadosResponse" />
  <xs:element name="darDeBajaEmpleados" type="tns:darDeBajaEmpleados" />
  <xs:element name="darDeBajaEmpleadosResponse" type="tns:darDeBajaEmpleadosResponse" />
  <xs:element name="eliminarEmpleado" type="tns:eliminarEmpleado" />
  <xs:element name="eliminarEmpleadoResponse" type="tns:eliminarEmpleadoResponse" />
  <xs:element name="insertarEmpleado" type="tns:insertarEmpleado" />
  <xs:element name="insertarEmpleadoResponse" type="tns:insertarEmpleadoResponse" />
  <xs:element name="obtenerEmpleadoPorDni" type="tns:obtenerEmpleadoPorDni" />
  <xs:element name="obtenerEmpleadoPorDniResponse" type="tns:obtenerEmpleadoPorDniResponse" />
  <xs:complexType name="insertarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="emp" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="DNIJefe" type="xs:int" />
          <xs:element minOccurs="0" name="jefe" type="tns:administrador" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleado" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darDeBajaEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDniEmp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darDeBajaEmpleadosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleado">
    <xs:sequence>
      <xs:element name="dni_emp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadoPorDni">
    <xs:sequence>
      <xs:element name="dni_emp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpleadoPorDniResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darDeAltaEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaDniEmp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darDeAltaEmpleadosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="emp" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>