Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/MedicinaGeneralWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.FarmaSoft.pucp.edu.pe/" targetNamespace="http://services.FarmaSoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodasMedicinasGenerales" type="tns:listarTodasMedicinasGenerales" />
  <xs:element name="listarTodasMedicinasGeneralesResponse" type="tns:listarTodasMedicinasGeneralesResponse" />
  <xs:complexType name="listarTodasMedicinasGenerales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasMedicinasGeneralesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:medicinaGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medicinaGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMedicamento" type="tns:tipoMedicamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedicamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANALGESICO" />
      <xs:enumeration value="ANTIBIOTICO" />
      <xs:enumeration value="ANTIVIRAL" />
      <xs:enumeration value="ANTIFUNGICO" />
      <xs:enumeration value="ANTIHISTAMINICO" />
      <xs:enumeration value="ANTIDEPRESIVO" />
      <xs:enumeration value="VITAMINAS_Y_SUPLEMENTOS" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>