Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/MedicinaPropiaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarMedicinaPropia" type="tns:insertarMedicinaPropia" />
  <xs:element name="insertarMedicinaPropiaResponse" type="tns:insertarMedicinaPropiaResponse" />
  <xs:element name="listarTodasMedicinasPropias" type="tns:listarTodasMedicinasPropias" />
  <xs:element name="listarTodasMedicinasPropiasResponse" type="tns:listarTodasMedicinasPropiasResponse" />
  <xs:complexType name="listarTodasMedicinasPropias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasMedicinasPropiasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:medicinaPropia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="medicinaPropia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:medicinaGeneral">
        <xs:sequence>
          <xs:element name="precio" type="xs:double" />
          <xs:element name="stock" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="medicinaGeneral" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMedicamento" type="tns:tipoMedicamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMedicinaPropia">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarMedicinaPropiaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoMedicamento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANALGESICOS" />
      <xs:enumeration value="ANTIBIOTICO" />
      <xs:enumeration value="ANTIVIRAL" />
      <xs:enumeration value="ANTIFUNGICO" />
      <xs:enumeration value="ANTIHISTAMINICO" />
      <xs:enumeration value="ANTIDEPRESIVO" />
      <xs:enumeration value="VITAMINAS_Y_SUPLEMENTOS" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>