Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/PagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PagoWS" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:32309/FarmaSoftWS/PagoWS?xsd=1" namespace="http://services.FarmaSoft.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTodosPagos">
    <part name="parameters" element="tns:listarTodosPagos" />
  </message>
  <message name="listarTodosPagosResponse">
    <part name="parameters" element="tns:listarTodosPagosResponse" />
  </message>
  <message name="insertarPago">
    <part name="parameters" element="tns:insertarPago" />
  </message>
  <message name="insertarPagoResponse">
    <part name="parameters" element="tns:insertarPagoResponse" />
  </message>
  <message name="obtenerPagoPorId">
    <part name="parameters" element="tns:obtenerPagoPorId" />
  </message>
  <message name="obtenerPagoPorIdResponse">
    <part name="parameters" element="tns:obtenerPagoPorIdResponse" />
  </message>
  <portType name="PagoWS">
    <operation name="listarTodosPagos">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/listarTodosPagosRequest" message="tns:listarTodosPagos" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/listarTodosPagosResponse" message="tns:listarTodosPagosResponse" />
    </operation>
    <operation name="insertarPago">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/insertarPagoRequest" message="tns:insertarPago" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/insertarPagoResponse" message="tns:insertarPagoResponse" />
    </operation>
    <operation name="obtenerPagoPorId">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/obtenerPagoPorIdRequest" message="tns:obtenerPagoPorId" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PagoWS/obtenerPagoPorIdResponse" message="tns:obtenerPagoPorIdResponse" />
    </operation>
  </portType>
  <binding name="PagoWSPortBinding" type="tns:PagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosPagos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPagoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PagoWS">
    <port name="PagoWSPort" binding="tns:PagoWSPortBinding">
      <soap:address location="http://localhost:32309/FarmaSoftWS/PagoWS" />
    </port>
  </service>
</definitions>