Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/PedidoPropioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PedidoPropioWS" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:32309/FarmaSoftWS/PedidoPropioWS?xsd=1" namespace="http://services.FarmaSoft.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTodosPedidosPropios">
    <part name="parameters" element="tns:listarTodosPedidosPropios" />
  </message>
  <message name="listarTodosPedidosPropiosResponse">
    <part name="parameters" element="tns:listarTodosPedidosPropiosResponse" />
  </message>
  <message name="insertarPedidoPropio">
    <part name="parameters" element="tns:insertarPedidoPropio" />
  </message>
  <message name="insertarPedidoPropioResponse">
    <part name="parameters" element="tns:insertarPedidoPropioResponse" />
  </message>
  <message name="obtenerPedidoPropioPorId">
    <part name="parameters" element="tns:obtenerPedidoPropioPorId" />
  </message>
  <message name="obtenerPedidoPropioPorIdResponse">
    <part name="parameters" element="tns:obtenerPedidoPropioPorIdResponse" />
  </message>
  <portType name="PedidoPropioWS">
    <operation name="listarTodosPedidosPropios">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/listarTodosPedidosPropiosRequest" message="tns:listarTodosPedidosPropios" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/listarTodosPedidosPropiosResponse" message="tns:listarTodosPedidosPropiosResponse" />
    </operation>
    <operation name="insertarPedidoPropio">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/insertarPedidoPropioRequest" message="tns:insertarPedidoPropio" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/insertarPedidoPropioResponse" message="tns:insertarPedidoPropioResponse" />
    </operation>
    <operation name="obtenerPedidoPropioPorId">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/obtenerPedidoPropioPorIdRequest" message="tns:obtenerPedidoPropioPorId" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/PedidoPropioWS/obtenerPedidoPropioPorIdResponse" message="tns:obtenerPedidoPropioPorIdResponse" />
    </operation>
  </portType>
  <binding name="PedidoPropioWSPortBinding" type="tns:PedidoPropioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodosPedidosPropios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPedidoPropio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPedidoPropioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoPropioWS">
    <port name="PedidoPropioWSPort" binding="tns:PedidoPropioWSPortBinding">
      <soap:address location="http://localhost:32309/FarmaSoftWS/PedidoPropioWS" />
    </port>
  </service>
</definitions>