Frontend/FarmaSoft/FarmaSoftWA/Connected Services/FarmaSoftWS/SolicitudWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.FarmaSoft.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SolicitudWS" targetNamespace="http://services.FarmaSoft.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:32309/FarmaSoftWS/SolicitudWS?xsd=1" namespace="http://services.FarmaSoft.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="listarTodasSolicitudes">
    <part name="parameters" element="tns:listarTodasSolicitudes" />
  </message>
  <message name="listarTodasSolicitudesResponse">
    <part name="parameters" element="tns:listarTodasSolicitudesResponse" />
  </message>
  <message name="obtenerSolicitudPorId">
    <part name="parameters" element="tns:obtenerSolicitudPorId" />
  </message>
  <message name="obtenerSolicitudPorIdResponse">
    <part name="parameters" element="tns:obtenerSolicitudPorIdResponse" />
  </message>
  <message name="insertarSolicitud">
    <part name="parameters" element="tns:insertarSolicitud" />
  </message>
  <message name="insertarSolicitudResponse">
    <part name="parameters" element="tns:insertarSolicitudResponse" />
  </message>
  <portType name="SolicitudWS">
    <operation name="listarTodasSolicitudes">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/listarTodasSolicitudesRequest" message="tns:listarTodasSolicitudes" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/listarTodasSolicitudesResponse" message="tns:listarTodasSolicitudesResponse" />
    </operation>
    <operation name="obtenerSolicitudPorId">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/obtenerSolicitudPorIdRequest" message="tns:obtenerSolicitudPorId" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/obtenerSolicitudPorIdResponse" message="tns:obtenerSolicitudPorIdResponse" />
    </operation>
    <operation name="insertarSolicitud">
      <input wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/insertarSolicitudRequest" message="tns:insertarSolicitud" />
      <output wsam:Action="http://services.FarmaSoft.pucp.edu.pe/SolicitudWS/insertarSolicitudResponse" message="tns:insertarSolicitudResponse" />
    </operation>
  </portType>
  <binding name="SolicitudWSPortBinding" type="tns:SolicitudWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodasSolicitudes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerSolicitudPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSolicitud">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SolicitudWS">
    <port name="SolicitudWSPort" binding="tns:SolicitudWSPortBinding">
      <soap:address location="http://localhost:32309/FarmaSoftWS/SolicitudWS" />
    </port>
  </service>
</definitions>