Frontend/EventMasterSoft/EventMasterSoftWA/Connected Services/ServicioWS/ProductoraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.eventmastersoft.pucp.edu.pe" targetNamespace="http://services.eventmastersoft.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarTodasProductoras" type="tns:listarTodasProductoras" />
  <xs:element name="listarTodasProductorasResponse" type="tns:listarTodasProductorasResponse" />
  <xs:complexType name="listarTodasProductoras">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasProductorasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productora" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productora">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element name="idProductora" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>